$main: #d00170;
$background: #f4f4f4;
$dark-gray: #878787;
$alt-dark-gray: #2e2e2e;
$white: #fff;
$black: #000;
$clear-gray: #f6f6f4;
$alt-clear-gray: #dedede;

$box-shadow: rgba(110, 120, 130, 0.12);
