@import './colors.scss';

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Regular.woff2') format('woff2'),
    url('../assets/fonts/poppins/Poppins-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

// Bold
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Bold.woff2') format('woff2'),
    url('../assets/fonts/poppins/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

// Italic
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-Italic.woff2') format('woff2'),
    url('../assets/fonts/poppins/Poppins-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

// Semi-bold
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins/Poppins-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/poppins/Poppins-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  background: $background;
}
